/* DATEPICKER DEMO CSS */





input
        {
        margin:0;
        padding:0;
        border:1px solid #ccc;
        border-top-color:#aaa;
        border-left-color:#aaa;
        height:1.2em;	
        }








